.antiReset,
.antiReset body,
.antiReset div,
.antiReset span,
.antiReset applet,
.antiReset object,
.antiReset iframe,
.antiReset h1,
.antiReset h2,
.antiReset h3,
.antiReset h4,
.antiReset h5,
.antiReset h6,
.antiReset p,
.antiReset blockquote,
.antiReset pre,
.antiReset a,
.antiReset abbr,
.antiReset acronym,
.antiReset address,
.antiReset big,
.antiReset cite,
.antiReset code,
.antiReset del,
.antiReset dfn,
.antiReset em,
.antiReset img,
.antiReset ins,
.antiReset kbd,
.antiReset q,
.antiReset s,
.antiReset samp,
.antiReset small,
.antiReset strike,
.antiReset strong,
.antiReset sub,
.antiReset sup,
.antiReset tt,
.antiReset var,
.antiReset b,
.antiReset u,
.antiReset i,
.antiReset center,
.antiReset dl,
.antiReset dt,
.antiReset dd,
.antiReset ol,
.antiReset ul,
.antiReset li,
.antiReset fieldset,
.antiReset form,
.antiReset label,
.antiReset legend,
.antiReset table,
.antiReset caption,
.antiReset tbody,
.antiReset tfoot,
.antiReset thead,
.antiReset tr,
.antiReset th,
.antiReset td,
.antiReset article,
.antiReset aside,
.antiReset canvas,
.antiReset details,
.antiReset embed,
.antiReset figure,
.antiReset figcaption,
.antiReset footer,
.antiReset header,
.antiReset hgroup,
.antiReset menu,
.antiReset nav,
.antiReset output,
.antiReset ruby,
.antiReset section,
.antiReset summary,
.antiReset time,
.antiReset mark,
.antiReset audio,
.antiReset video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  font: 20px/1.2 'circleRegular';
  color: #777;
}